*
!.gitignore

!app
!app/code
!app/code/local
!app/code/local/MagentoAid
!app/code/local/MagentoAid/Customizer
!app/code/local/MagentoAid/Customizer/*
!app/code/local/MagentoAid/Customizer/*/*
!app/code/local/MagentoAid/Customizer/*/*/*
!app/code/local/MagentoAid/Customizer/*/*/*/*
!app/code/local/MagentoAid/Customizer/*/*/*/*/*
!app/code/local/MagentoAid/Customizer/*/*/*/*/*/*

!app/code/local/MagentoAid/KitProduct
!app/code/local/MagentoAid/KitProduct/*
!app/code/local/MagentoAid/KitProduct/*/*
!app/code/local/MagentoAid/KitProduct/*/*/*
!app/code/local/MagentoAid/KitProduct/*/*/*/*
!app/code/local/MagentoAid/KitProduct/*/*/*/*/*
!app/code/local/MagentoAid/KitProduct/*/*/*/*/*/*
!app/code/local/MagentoAid/KitProduct/*/*/*/*/*/*/*
!app/code/local/MagentoAid/KitProduct/*/*/*/*/*/*/*/*
!app/code/local/MagentoAid/KitProduct/*/*/*/*/*/*/*/*/*
!app/code/local/MagentoAid/KitProduct/*/*/*/*/*/*/*/*/*/*
!app/code/local/MagentoAid/KitProduct/*/*/*/*/*/*/*/*/*/*/*

!app/design
!app/design/frontend
!app/design/frontend/base
!app/design/frontend/base/default
!app/design/frontend/base/default/layout
!app/design/frontend/base/default/layout/magentoaid
!app/design/frontend/base/default/layout/magentoaid/*
!app/design/frontend/base/default/layout/magentoaid/*/*

!app/design/frontend/base/default/layout/kitproduct.xml

!app/design/frontend/base/default/template
!app/design/frontend/base/default/template/magentoaid
!app/design/frontend/base/default/template/magentoaid/*
!app/design/frontend/base/default/template/magentoaid/*/*
!app/design/frontend/base/default/template/magentoaid/*/*/*
!app/design/frontend/base/default/template/magentoaid/*/*/*/*

!app/design/frontend/base/default/template/kitproduct
!app/design/frontend/base/default/template/kitproduct/*
!app/design/frontend/base/default/template/kitproduct/*/*
!app/design/frontend/base/default/template/kitproduct/*/*/*
!app/design/frontend/base/default/template/kitproduct/*/*/*/*
!app/design/frontend/base/default/template/kitproduct/*/*/*/*/*
!app/design/frontend/base/default/template/kitproduct/*/*/*/*/*/*

!skin
!skin/frontend
!skin/frontend/base
!skin/frontend/base/default
!skin/frontend/base/default/customizer_demo
!skin/frontend/base/default/customizer_demo/*
!skin/frontend/base/default/customizer_demo/*/*
!skin/frontend/base/default/customizer_demo/*/*/*
!skin/frontend/base/default/customizer_demo/*/*/*/*
!skin/frontend/base/default/customizer_demo/*/*/*/*/*

!app/etc
!app/etc/modules
!app/etc/modules/MagentoAid_Customizer.xml

!app/etc/modules/MagentoAid_KitProduct.xml

