<?xml version="1.0"?>
<config>
    <modules>
        <MagentoAid_KitProduct>
            <version>2.0.1</version>
        </MagentoAid_KitProduct>
    </modules>
    <global>
        <models>
            <kitproduct>
                <class>MagentoAid_KitProduct_Model</class>
                <resourceModel>kitproduct_resource</resourceModel>
            </kitproduct>
            <kitproduct_resource>
                <class>MagentoAid_KitProduct_Model_Resource</class>
                <deprecatedNode>kitproduct_mysql4</deprecatedNode>
                <entities>
                    <option>
                        <table>catalog_product_kitproduct_option</table>
                    </option>
                    <option_value>
                        <table>catalog_product_kitproduct_option_value</table>
                    </option_value>
                    <selection>
                        <table>catalog_product_kitproduct_selection</table>
                    </selection>
                    <selection_price>
                        <table>catalog_product_kitproduct_selection_price</table>
                    </selection_price>
                    <product>
                        <table>catalog_product_kitproduct_product</table>
                    </product>
                </entities>
            </kitproduct_resource>
        </models>
        <helpers>
            <kitproduct>
                <class>MagentoAid_KitProduct_Helper</class>
            </kitproduct>
        </helpers>
        <resources>
            <kitproduct_setup>
                <setup>
                    <module>MagentoAid_KitProduct</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </kitproduct_setup>
        </resources>
        <blocks>
            <kitproduct>
                <class>MagentoAid_KitProduct_Block</class>
            </kitproduct>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>MagentoAid_KitProduct_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <catalog>
            <product>
                <type>
                    <kitproduct translate="label" module="kitproduct">
                        <label>KitProduct</label>
                        <model>kitproduct/product_type</model>
                        <composite>1</composite>
                        <allowed_selection_types>
                            <configurable/>
                        </allowed_selection_types>
                        <price_model>kitproduct/product_price</price_model>
                    </kitproduct>
                </type>
                <options>
                    <kitproduct>
                        <types>
                            <image translate="label" module="kitproduct">
                                <label>Images</label>
                            </image>
                        </types>
                    </kitproduct>
                </options>
            </product>
        </catalog>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <price_view/>
                        <price_type/>
                        <shipment_type/>
                        <weight_type/>
                        <sku_type/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <pdf>
            <invoice>
                <kitproduct>kitproduct/sales_order_pdf_items_invoice</kitproduct>
            </invoice>
            <shipment>
                <kitproduct>kitproduct/sales_order_pdf_items_shipment</kitproduct>
            </shipment>
            <creditmemo>
                <kitproduct>kitproduct/sales_order_pdf_items_creditmemo</kitproduct>
            </creditmemo>
        </pdf>
        <events>
            <eav_collection_abstract_load_before>
                <observers>
                    <kitproduct_eav_collection_abstract_load_before>
                        <class>kitproduct/observer_collection</class>
                        <method>onEavCollectionAbstractLoadBefore</method>
                    </kitproduct_eav_collection_abstract_load_before>
                </observers>
            </eav_collection_abstract_load_before>
            <sales_quote_item_set_product>
                <observers>
                    <kitproduct_sales_quote_item_set_product>
                        <class>kitproduct/observer_quote</class>
                        <method>onSalesQuoteItemSetProduct</method>
                    </kitproduct_sales_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
        </events>
    </global>
    <frontend>
        <routers>
            <MagentoAid_KitProduct>
                <use>standard</use>
                <args>
                    <module>MagentoAid_KitProduct</module>
                    <frontName>kitproduct</frontName>
                </args>
            </MagentoAid_KitProduct>
        </routers>
        <translate>
            <modules>
                <MagentoAid_KitProduct>
                    <files>
                        <default>MagentoAid_KitProduct.csv</default>
                    </files>
                </MagentoAid_KitProduct>
            </modules>
        </translate>
        <layout>
            <updates>
                <kitproduct>
                    <file>kitproduct.xml</file>
                </kitproduct>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <price_view/>
                    <price_type/>
                </attributes>
            </collection>
        </product>
        <events>
            <controller_action_predispatch_noRoute>

            </controller_action_predispatch_noRoute>
        </events>
        <events>

            <catalog_product_upsell>
                <observers>
                    <kitproduct_observer>
                        <class>kitproduct/observer</class>
                        <method>appendUpsellProducts</method>
                    </kitproduct_observer>
                </observers>
            </catalog_product_upsell>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <kitproduct_observer>
                        <class>kitproduct/observer</class>
                        <method>appendKitProductSelectionData</method>
                    </kitproduct_observer>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <catalog_product_collection_load_after>
                <observers>
                    <kitproduct_observer>
                        <class>kitproduct/observer</class>
                        <method>loadProductOptions</method>
                    </kitproduct_observer>
                </observers>
            </catalog_product_collection_load_after>
            <product_option_renderer_init>
                <observers>
                    <kitproduct_observer>
                        <class>kitproduct/observer</class>
                        <method>initOptionRenderer</method>
                    </kitproduct_observer>
                </observers>
            </product_option_renderer_init>
        </events>
    </frontend>
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <is_in_stock>
                    <product_type>
                        <kitproduct/>
                    </product_type>
                </is_in_stock>
                <manage_stock>
                    <product_type>
                        <kitproduct/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MagentoAid_KitProduct before="Mage_Adminhtml">MagentoAid_KitProduct_Adminhtml</MagentoAid_KitProduct>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <MagentoAid_KitProduct>
                    <files>
                        <default>MagentoAid_KitProduct.csv</default>
                    </files>
                </MagentoAid_KitProduct>
            </modules>
        </translate>
        <layout>
            <updates>
                <kitproduct>
                    <file>kitproduct.xml</file>
                </kitproduct>
            </updates>
        </layout>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <kitproduct/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <events>
            <!--
            <catalog_product_save_before>
                <observers>
                    <kitproduct_observer>
                        <class>kitproduct/observer</class>
                        <method>productBeforeSave</method>
                    </kitproduct_observer>
                </observers>
            </catalog_product_save_before>
            -->
            <catalog_product_prepare_save>
                <observers>
                    <kitproduct_observer>
                        <class>kitproduct/observer</class>
                        <method>prepareProductSave</method>
                    </kitproduct_observer>
                </observers>
            </catalog_product_prepare_save>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <kitproduct_observer>
                        <class>kitproduct/observer</class>
                        <method>appendKitProductSelectionData</method>
                    </kitproduct_observer>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <catalog_model_product_duplicate>
                <observers>
                    <kitproduct_observer>
                        <class>kitproduct/observer</class>
                        <method>duplicateProduct</method>
                    </kitproduct_observer>
                </observers>
            </catalog_model_product_duplicate>
            <catalog_product_edit_action>
                <observers>
                    <kitproduct_observer>
                        <class>kitproduct/observer</class>
                        <method>setAttributeTabBlock</method>
                    </kitproduct_observer>
                </observers>
            </catalog_product_edit_action>
            <catalog_product_new_action>
                <observers>
                    <kitproduct_observer>
                        <class>kitproduct/observer</class>
                        <method>setAttributeTabBlock</method>
                    </kitproduct_observer>
                </observers>
            </catalog_product_new_action>
            <controller_action_predispatch_adminhtml_catalog_product_edit>
                <observers>
                    <kitproduct_controller_action_predispatch_adminhtml_catalog_product_edit>
                        <class>kitproduct/observer_admin_action</class>
                        <method>onControllerActionPredispatchAdminhtmlCatalogProductEdit</method>
                    </kitproduct_controller_action_predispatch_adminhtml_catalog_product_edit>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_edit>
            <controller_action_predispatch_adminhtml_ajax_saveOptions>
                <observers>
                    <kitproduct_controller_action_predispatch_adminhtml_ajax_saveOptions>
                        <class>kitproduct/observer_admin_action</class>
                        <method>onControllerActionPredispatchAdminhtmlCatalogProductEdit</method>
                    </kitproduct_controller_action_predispatch_adminhtml_ajax_saveOptions>
                </observers>
            </controller_action_predispatch_adminhtml_ajax_saveOptions>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kit_product>
                                            <title>Kit Product</title>
                                        </kit_product>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>