<?xml version="1.0"?>
<config>
    <modules>
        <MagentoAid_Customizer>
            <version>0.1.0</version>
        </MagentoAid_Customizer>
    </modules>
    <global>
        <models>
            <ma_customizer>
                <class>MagentoAid_Customizer_Model</class>
                <resourceModel>ma_customizer_resource</resourceModel>
            </ma_customizer>
            <ma_customizer_resource>
                <class>MagentoAid_Customizer_Model_Resource</class>
            </ma_customizer_resource>
        </models>
        <blocks>
            <ma_customizer>
                <class>MagentoAid_Customizer_Block</class>
            </ma_customizer>
        </blocks>
        <helpers>
            <ma_customizer>
                <class>MagentoAid_Customizer_Helper</class>
            </ma_customizer>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ma_customizer>
                <use>standard</use>
                <args>
                    <module>MagentoAid_Customizer</module>
                    <frontName>customizer</frontName>
                </args>
            </ma_customizer>
        </routers>
        <translate>
            <modules>
                <MagentoAid_Customizer>
                    <files>
                        <default>MagentoAid_Customizer.csv</default>
                    </files>
                </MagentoAid_Customizer>
            </modules>
        </translate>
        <layout>
            <updates>
                <contact>
                    <file>magentoaid/customizer.xml</file>
                </contact>
            </updates>
        </layout>
    </frontend>
</config>